.css_btn_class {
	font-size:23px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:31px;
	-webkit-border-radius:31px;
	border-radius:31px;
	border:0px solid #eeb44f;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffc477 17%, #fb9e25 88% );
	background:-ms-linear-gradient( top, #ffc477 17%, #fb9e25 88% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(17%, #ffc477), color-stop(88%, #fb9e25) );
	background-color:#ffc477;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 1px #cc9f52;
 	-webkit-box-shadow:inset -2px 4px 19px 0px #fce2c1;
 	-moz-box-shadow:inset -2px 4px 19px 0px #fce2c1;
 	box-shadow:inset -2px 4px 19px 0px #fce2c1;
}
.css_btn_class:hover {
	background:-moz-linear-gradient( center top, #fb9e25 17%, #ffc477 88% );
	background:-ms-linear-gradient( top, #fb9e25 17%, #ffc477 88% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(17%, #fb9e25), color-stop(88%, #ffc477) );
	background-color:#fb9e25;
}
.css_btn_class:active {
	position:relative;
	top:1px;
}

